*{
    box-sizing: border-box;
}
.body {
    background:#292b2e;
    margin: 0;
    padding: 0;
    width: 1360px;
    margin: 0 auto;
}
.Main-Inputs{
    display: flex;
}

*::selection{
    background-color:grey;
    color: rgb(88, 87, 80);
    -webkit-text-stroke: 1px white;
    transition: .5s;
}

.wrap{
    padding: 50px;
    width: 50%;
}


.Title{
    color: white;
    font-family: sans-serif;
    font-weight: 900;
}
.Info-title{
    color: white;
    font-family: monospace;
    font-weight: 900;
    font-size: 15px;
    text-transform: capitalize;
}

.Inputs{
    display: grid;
    grid-template-columns: repeat(3,25%);
    width: 100%;
    gap: 20px;
    justify-content: start;
}

.input{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    outline: none;
    padding: 5px;
    border: 1px solid white;
}

.input::placeholder{
    color: rgba(255, 255, 255, 0.493);
    font-family: monospace;
    text-transform: capitalize;
}

.input:focus::placeholder{
    color: white;
    font-family: monospace;
    text-transform: capitalize;
}
.input::selection{
    background-color: white;
    color: black;
}